{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="my-4">Order Confirmation</h2>
            <p>Thank you for your order! Your order number is <strong>{{ cart.id }}</strong>.</p>
            
            <h3>Order Details:</h3>
            <ul class="list-group">
                {% for item in cart_items %}
                <li class="list-group-item">
                    {{ item.quantity }} x {{ item.menu_item.name }} - ${{ item.price }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <p class="card-text">Total Amount: <strong>${{ cart.total }}</strong></p>
                    <p class="card-text">Order Date: {{ cart.created_at }}</p>
                    
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'menu' %}" class="btn btn-primary mt-3">Back to Menu</a>
</div>
{% endblock %}
